{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="auth-container">
        <h2>Student Registration</h2>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit" class="submit-btn">Register</button>
        </form>
        <p class="signup-link" style="text-align: center; margin-top: 15px;">
            Already have an account? <a href="{% url 'login' %}" style="color: #0074D9; font-weight: bold; text-decoration: none;">Login Here</a>
        </p>
    </div>
</body>
</html>